<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  
  <table id="signup_form">
    <tr>
      <div class="field">
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </div>
    </tr>
    <div class="field">
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
      </tr>
    </div>
    
    <div class="field">
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>
    </div>
    
    <div class="field">
      <tr>
        <td><%= f.label :password_confirmation, "Confirmation" %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
    </div>
    
    <div class="actions">
      <tr>
        <td colspan="2"><%= f.submit :signup %></td>
      </tr>
    </div>
  </table>  
<% end %>